<div class="form-check form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="video[checkedtype][]" value="<%= typesexceptall.name %>"> <%= typesexceptall.name %>
    </label>
</div>